section {
  background-color: aqua;
}

.book-logo {
  font-size: 50px;
  color: rgb(103, 89, 165);
  text-align: center;
}

h1 {
  text-transform: uppercase;
}

.custom-btn {
  width: 100%;
  font-size: 20px;
  text-transform: uppercase;
}

.reset-btn {
  width: 100%;
  font-size: 20px;
  color: beige;
  text-transform: uppercase;
  margin-top: 10px;
  background-color: rgb(143, 71, 211);
}

.form-label {
  text-transform: uppercase;
  font-weight: bold;
  color: green;
}
